<!--  
<div>
    <button id="logout" (click)="onLogoutClick()">Logout </button>
</div> -->

<div class="chat-container">
  <!-- HEADER -->
  <div class="chat-header">
    <h2>Swasth AI Assistant</h2>

    <div class="header-buttons">
      <button (click)="goHome()">Home</button>
      <button (click)="logout()">Logout</button>
    </div>
  </div>

  <!-- CHAT BODY -->
  <div class="chat-body">
    <div *ngFor="let msg of messages" [ngClass]="msg.sender === 'user' ? 'user-msg' : 'bot-msg'">
      <!-- USER MESSAGE -->
      <div class="bubble" *ngIf="msg.sender === 'user'">
        {{ msg.text }}
      </div>

      <!-- BOT MESSAGE -->
      <div class="bubble" *ngIf="msg.sender === 'bot'">
        <div *ngIf="msg.predictions">
          <h3>Possible Diseases</h3>

          <div *ngFor="let p of msg.predictions; let i = index">
            <p>
              <strong>{{ i + 1 }}. {{ p.disease }}</strong>
              — {{ p.confidence * 100 | number: '1.0-2' }}%
            </p>
          </div>
        </div>

        <div *ngIf="msg.text">
          {{ msg.text }}
        </div>
      </div>
    </div>
  </div>

  <!-- INPUT AREA -->
  <div class="chat-input">
    <input
      [(ngModel)]="messageInput"
      placeholder="Enter symptoms separated by comma..."
      (keyup.enter)="sendMessage()"
    />
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
